<h1>{{curAdminInfo}}</h1>
<br />
<app-dividing-line></app-dividing-line>
<br />
<div class="container">
<div class="row">
    <div class="col-9 shadow">
        <div *ngIf="curNavSelected === 'Web Page Editor'; then renderEditor else elseBlock"></div>
        <ng-template #renderEditor>
            <app-ckeditor [curAdmin]="curAdmin"></app-ckeditor>
        </ng-template>
        <div *ngIf="curNavSelected === 'Registe Club Admin'; then renderRegister else elseBlock"></div>
        <ng-template #renderRegister>
            <h1>Registe Club Admin</h1>
            <form id="registerForm">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Admin Email</span>
                    </div>
                    <input id="email" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">password</span>
                    </div>
                    <input id="password" type="password" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Confirm password</span>
                    </div>
                    <input id="confirmPassword" type="password" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group-prepend">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Role</span>
                    </div>
                    <select id="role" class="form-control">
                      <option selected>select a role </option>
                      <option *ngFor="let role of roleOption">{{role}}</option>
                    </select>
                  </div>
                  <br />
                  <button type="button" class="btn btn-info" (click)="register()">Register</button>
                  <br />
            </form>
        </ng-template> 
        <ng-template #elseBlock>
        </ng-template>
    </div>

    <div class="col-3">
        <div id="subNav">
            <div class="subNavBtn" *ngFor="let element of subNavElements; let i = index" (click)="onSubNavElementClicked(i)">
                {{element}}
            </div>
        </div>
    </div>
</div>
</div>
<br />

