
<div class="onlyForBackGround">
  <div class="generalInfo">
    <br/>
      <div>
      <br /><br />
      <app-school-card [title]="title" [article]="article" [imgSources]="imgSources" [link] = "link"></app-school-card>
      <br /><br />
    </div>
  </div>  
  
</div>




  