<app-carousel [imgSources]="carouselImgSources"></app-carousel>
<br />
<h1>Events</h1>
<br />

<div class="shadow card" id="main-events">
  <div class="row insideCard">
    <div class="col-8">
      <div id="infoCard">
        <h2>{{focusedEvent.name}}</h2>
        <div class="row">
          <div class="col-6">
            <h5>Date: {{focusedEvent.date}}</h5>
          </div>
          <div class="col-6">
            <h5>Time: {{focusedEvent.time}} - {{focusedEvent.endTime}}</h5>
          </div>
          <div class="col-6">
            <h5>Organiztion: {{focusedEvent.category}}</h5>
          </div>
          <div class="col-6">
            <h5>Address: {{focusedEvent.address}}</h5>
          </div>
        </div>
        <div [innerHTML]="focusedEvent.info"></div>
        <br />
        <div class="hover01">
            <figure class="imageBoard imgFigure">
              <img class="d-block w-100 h-100" src={{focusedEvent.imgSource}} alt="image">
            </figure>
        </div>
      </div>
    </div>

    <div class="col-4">
      <form class="form-inline mr-auto mb-4">
        <input id="searchInput" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button type="button" class="btn btn-info" (click)="onSearchBtnClicked()">Search</button>
      </form>
      <div>
        <div id="eventList">
          <div class="eventBtn" *ngFor="let event of eventList; let i = index" (click)="toggleEventBtn(i)">
            {{event.name}}
          </div>
        </div>
      </div>
    </div>


  </div>

</div>
