:host {
  grid-row: 1;
  grid-column: 1 / -1;
  height: fit-content;
}


#header{
	width: 100%;
	// background-image: -webkit-gradient(linear,
	// 								   left bottom,
	// 								   left top,
	// 								   color-stop(0.1, rgb(41, 81, 194)),
    //                                    color-stop(0.3, rgb(40, 73, 163)),
    //                                    color-stop(1, rgb(11, 39, 121)));

    background: transparent;//linear-gradient(#2f77ca, #19428f , #0f1c68);
                                       
    
}

#upHead{
	//transform: translateX(22.5%);
	//width: 70%;
	padding: 3px;
    //background-color: rgb(161, 67, 67);
    background-image: url("../../../assets/headBg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 400px;
}

#devideLine{
    background: linear-gradient(#2f77ca, #19428f , #0f1c68);
    width: 100%;
    height: 10px;
}

#logo{
    height: 70px;
    width: auto;
    cursor: pointer;
    align-items: center;
}
/*
#logInBtn, #logOutBtn{
    position: absolute;
    transform: translateX(-100%);
    right: 0%;
    padding: 20px 20px !important;
}
*/

.dynamicMenu{
    display: none;
	//width: 70%;
	//transform: translateX(22.5%);
    z-index:100;
}

#menu{
	//position: absolute;
	font-size:50px;
	
}

.headerBtn {
	display: inline-block;
    //border-radius: 25px;
    font-size: 18px;
    padding: 10px 10px 10px 10px;
    align-items: center;
    cursor: pointer;
    //background-color: black;
    position: relative;
    color: rgb(13, 38, 92);
    text-shadow: 4px 4px 4px rgb(82, 155, 204);
    //background-color: black !important;
}

.headerBtn:hover{
	font:bolder;
    color: rgb(29, 138, 165)// rgb(181, 217, 226);
    //color:  rgb(26, 19, 116);
}

// .headerBtn::before{
//     content: '';
//     position: absolute;
//     bottom: 15px;
//     left: 11px;
//     width: 90%;
//     height: 5px;
//     //background-color: rgb(212, 83, 44);
//     background-color: rgba(26, 61, 100, 0.795);
//     // set opacity to 0 by default
//     opacity: 0;
//     border-radius: 10px;
// }

.headerBtn:hover::before{
    opacity: 1;
}

.subMenu{
    display: none;
    position: absolute;
    margin-top: 10px;
    margin-left: 5px;
    width: 250px;
    //padding: 10px 10px 10px 10px;
    left: 0px;
    background-color:rgb(12, 25, 51);
	//align-items: center;
	align-items: center;
    z-index: 1;

    box-shadow: 0px 2px 1px 0px rgb(12, 25, 51), 
    0 2px 1px 0 rgb(12, 25, 51), 
    0 2px 1px 0 rgb(12, 25, 51);

    text-shadow: 0px 0px 0px #aaa !important;
}

.childSubMenu{
    word-wrap:break-word !important;
	display: none;
    position: absolute;
	width: 200px;
	top:0px;
	padding: 5px 10px 10px 10px;
	margin-left: 180px;
	background-color:rgba(12, 25, 51, 0.842);
    //align-items: center;
    z-index: 1;
}

.subBtn{
	border-radius: 10px;
	font-size: 18px;
    width: 100%;
    //padding: 10px;
    color:  rgb(145, 141, 141);
    //padding: 0px;
    //text-align: center;
    cursor: pointer;
	margin-left: 0px;
    position: relative;
    
    
}

.subBtn:hover{
    color:  rgb(207, 207, 207);
    background-color: rgb(7, 53, 97);
    font:bolder;
	opacity: 1;
}

.subBtn:hover .childSubMenu{
	display: inline-block;
}

.subNavBtn:hover .subMenu{
    display: block;
}

.handleRouter{
    font-size: 18px;
    padding: 10px;
    //background-color: black;
}


// moblie version header
.panel{
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: gray;
    z-index: 20;
}

.sidePanel{
    position: relative;
    text-align: center;
    width: 100%;
}

.listItem {
    display: flex;
    position: relative;
    font-size: 20px;
    color: white;
    padding: 20px;
    align-items: center;
    cursor: pointer;
}

.listItem:hover{
    color:rgb(231, 119, 99);
}

.listItem::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 5px;
    background-color:  rgb(177, 67, 47);

    // set opacity to 0 by default
    opacity: 0;
}

.listItem:hover::before{
    opacity: 1;
}

.listItem i.material-icons{
    margin-right: 20px;
    top: 0;
    left: 0;
}

.subList{
    padding: 5px 10px;
    display: none;
}

.subItem{
    padding: 20px 20px;
    left: 30px;
}

.subNavItem:hover .subList{
    display: block;
}