<div class="page-top component">
    <div class="container title">
        <h1 class="text-left title-eng">CACC CLUBS</h1>
        <h2 class="text-left title-chi">德立華華美聯誼中心 社團</h2>
    </div>
    <app-carousel [imgSources]="carouselImgSources"></app-carousel>
</div>

<div class ="generalInfo"> 
    <div class="container component">
        <div class="row">
            <a class="col text-center shadow card-button button-effect" fragment="all-clubs" (click)="navigateToSection('all-clubs')">
                <img id="logo" src="../../../assets/search-icon.png" alt="Search" width="100" height="100">
                <h1>Find Clubs</h1>
                <h3>Check all clubs, and get more information.</h3>
            </a>
            <a class="col text-center shadow card-button button-effect" href="https://member.caccdelaware.info/">
                <img id="logo" src="../../../assets/join-icon.png" alt="Join Club" width="100" height="100">
                <h1>Join Clubs</h1>
                <h3>Become a CACC member, and join in your facorite clubs.</h3>
            </a>
            <a class="col text-center shadow card-button button-effect" fragment="all-events" (click)="navigateToSection('all-events')">
                <img id="logo" src="../../../assets/events-icon.png" alt="Check Events" width="100" height="100">
                <h1>Club Events</h1>
                <h3>Check upcoming events.</h3>
            </a>

        </div>
    </div>

    <div class="container component">
        <div class="backgroundWhite">
            <app-info-chuck-reverse [title]="infoChunk.title" [article]="infoChunk.article" [imgSource]="infoChunk.imgSource"></app-info-chuck-reverse>
        </div>>
    </div>
</div>

<div class="container-fluid component">

    <div class="row">
        <div class="col text-center section-title">
            Recent Events
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg component" *ngFor='let event of events_r1'>
            <app-event-card-plain [date]="event.date" [club]="event.club" [title]="event.title" [description]="event.description"></app-event-card-plain>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg component" *ngFor='let event of events_r2'>
            <app-event-card-plain [date]="event.date" [club]="event.club" [title]="event.title" [description]="event.description"></app-event-card-plain>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <div class="text-left section-title" id="all-events">
                Calendar
            </div>
            <app-calendar></app-calendar>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="text-left section-title" id="all-clubs">
                All Clubs
            </div>
            <!-- <app-latest-event></app-latest-event> -->
            <ul>
                <li *ngFor="let club of clubs">
                    <a href="/clubs/{{club.id}}">{{club.engname}} <span>{{club.chiname}}</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<br>
<br>
