<footer>
    <div class="container">

        <div class="row">
            <div class="col-sm-12 col-md-4 links">
                <ul>
                    <li><a href={{contactUsLink}}>Contact US</a></li>
                    <li><a href={{joinUsLink}}>Join US</a></li>
                    <li><a href={{donateLink}} target="_blank">Donate</a></li>
                    <li><a id="adminSignin" href={{adminSigninLink}}>Administrator</a></li>
                </ul>
            </div>

            <div class="col-sm-12 col-md-4 information">
                <address>
                    1313 Little Baltimore Road<br>
                    Hockessin, DE 19707<br>
                    United States
                </address>

                <a class="tel" href="tel:302-239-0432">(302) 239-0432</a>
            </div>

            <div class="col-sm-12 col-md-4 moreinfo">
                <a href="">
                    <h4 class="text-left logo">Chinese American Community Center</h4>
                    <h1 class="text-left logo">CACC 德立華華美聯誼中心</h1>
                    <h4 class="text-left logo">Hockessin DE</h4>
                </a>
                <div class="row">
                    <div class="col-1 footer-icon-con">
                        <div class="footer-socialmedia">
                            <a href="https://www.facebook.com/CACCdelaware/" target="_blank">
                                <img id="logo" src="../../../assets/fb.png" alt="Facebook Link" width="25" height="25">
                            </a>
                        </div>
                    </div>
                    <div class="col-1 footer-icon-con">
                        <div class="footer-socialmedia">
                            <a href="https://twitter.com/CaccDelaware" target="_blank">
                                <img id="logo" src="../../../assets/twitter.png" alt="Twitter Link" width="25" height="25">
                            </a>
                        </div>
                    </div>
                    <div class="col-1 footer-icon-con">
                        <div class="footer-socialmedia">
                            <a href="https://www.instagram.com/caccdelaware/" target="_blank">
                                <img id="logo" src="../../../assets/instagram.png" alt="Instagram Link" width="25" height="25">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="copyright text-center">
                    © 2020 Chinese American Community Center
                </div>           
            </div>
        </div>
    </div>
</footer>