$text-color: #F5F4F4;
$background-style: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.1, rgb(122,153,217)),
                                       color-stop(0.3, rgb(73,125,189)),
									   color-stop(1, rgb(28,58,148))); //background-image: 

footer {
    background-image: $background-style;
    color: white;
}

ul {
    padding: 0px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

h1, h4 {
    margin: 0px;
}

h1 {
    color: yellow;
}

.information {
    font-weight: lighter;
}

ul > li:hover, .tel:hover {
    text-decoration: underline;
}

.container {
    padding-top: 10px;
}

.footer-icon-con {
    padding-left: 15px;
    padding-right: 30px;
}

.footer-socialmedia {
    margin-top: 15px;
}

.logo {
    white-space: nowrap;
}

.copyright {
    padding-top: 20px;
    font-weight: lighter;
    color: rgb(226, 222, 222);
}

#adminSignin {
    color: rgb(185, 184, 184);
}









