


.vl {
    border-right: 1px solid #438eb9;
    margin: 3px 0;

}

.date, .event-details {
    padding: 0 15px;
}

.event-date {
    font-size: 30px;
    padding: 10px 0px;
}

.card {
    margin-bottom: 15px;
    background-color: #fafafa85;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    height: 100%;
}

.event-month, .event-date, .event-time {
    white-space: nowrap;
    color:#438eb9;
}

.button-effect:hover {
    cursor: pointer;
	-webkit-transform: scale(1.3);
	transform: scale(1.05);
}

.club-name, .event-title, .event-description {
    padding: 2px;
}

.club-name {
    font-size: 18px;
    color:#438eb9;
    font-weight: bold;
}

