
.myclass{
    background-color: transparent;
}



.myImage{
    width: 100%;
    height: 100%;
    
}

.myTextBox{
    //background-color: black;
    padding: 20px; 
    margin-top: 20px;
    //transform: translateY(50%);
    //font-family: 'Noto Serif TC', serif;
    //font-size: 30px;
    //font-size: 1vw;
    //color: blueviolet;
    //font-weight: bold !important;
    background-color: rgba($color: white, $alpha: 0.85);
    
}

@media (min-height: 900px){
    .myTextBox{
        margin-top: 70px !important;
    }
}

.learnMore{
    text-align: right;
}

figure {
	background:  transparent;
    overflow: hidden;
    cursor: pointer;
}

/* Zoom In */
.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}


