.colboard{
    background-color: rgb(235, 230, 230);
    height: 50vh;
}
.newsBoard{
    //background-color: rgb(235, 230, 230);
    padding: 10px;
}

.newsChunck{
    padding: 15px;
    font-size: 18px;
    margin-left: 0;
    cursor: pointer;
    
}

.newsChunck:hover{
    background-color: rgba(184, 20, 20, 0.555);
}

#silly{
    display: block !important;
}

.subDiv{
    display: none;
    padding: 10px;
}

.newsChunck:hover .subDiv{
    display: block;
}

