
<app-carousel></app-carousel>

<div class="generalInfo">
  <br/>
  <div class="threeSchool">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <app-info-chuck-two></app-info-chuck-two>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
        <app-info-chuck-two></app-info-chuck-two>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
        <app-info-chuck-two></app-info-chuck-two>
      </div>

    </div>

  </div>
</div>
