.myCard{
    background-color: rgb(247, 243, 243) !important;
    padding: 10px;
    
}



.vl{
    background-color: black;
    width: 1px;
    height: 40px;
    right: 50px;
}

.month{
    text-align: center;
    font-size: 15px;
    padding: 10px;
    top:5px;
    left:10px;
    right: 10px;
    bottom: 5px;
}

.event{
    color: rgb(31, 50, 158);
    font-weight: 900;
    
}

.event:hover{
    text-decoration: underline;
}

.date{
    //background-color: violet;
    text-align: center;
    padding: 5px;
    font-size: 35px;
    top:5px;
    left:10px;
    right: 10px;
    bottom: 5px;
}

.myImg{
    padding: 30px;
}




/* Zoom In */

figure {
    cursor: pointer;
	background-color: transparent;
	//overflow: hidden;
}
.imgFigure{
	overflow: hidden;
}

.hover02 figure .myCard {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover02 figure:hover .myCard {
	-webkit-transform: scale(1.3);
	transform: scale(1.05);
}