<div class="hover02">
  <figure>
    <div class="myCard shadow">
      <div class="row">
        <div class="col-2">
            <div class="month">{{month}}</div>
        </div>
        <div class="col-1"><div class="vl"></div></div>
        <div class="col-8">
            <div class="event">{{eventName}}</div>
        </div>
      </div>

      <div class="row">
        <div class="col-2">
            <div class="date">{{date}}</div>
        </div>
        <div class="col-1"><div class="vl"></div></div>
        <div class="col-8">
            <div class="time">{{time}} - {{endTime}}</div>
        </div>
      </div>

      <div class="myImg">
        <img class="d-block w-100" src={{imgSource}} alt="image">
      </div>
    </div>
  </figure>
</div>
