<!-- <p>contact-us works!</p> -->
<!-- Default form contact -->
<div class="container">
    <div class="row">
        <div class="d-none d-lg-block"><img src="assets/contactus.jpg" width=90% height=90%></div>
    </div>
    <div class="row align-items-center">
        <div class="col">
            <form class="text-center border border-light p-5" [formGroup]="contactForm" (ngSubmit)="onSubmit()">

                <p class="h4 mb-4">Contact us</p>

                    <!-- Name -->
                    <input type="text" formControlName="contactFormName" id="defaultContactFormName" mdbInput
    class="form-control mb-4" placeholder="Name" required>

                    <!-- Email -->
                    <input type="email" formControlName="contactFormEmail" id="defaultContactFormEmail" mdbInput
    class="form-control mb-4" placeholder="E-mail" required>

                    <!-- Subject -->
                    <label>Subject</label>
                    <select formControlName="contactFormSubjects" class="browser-default custom-select mb-4">
                        <option value="" disabled>Choose option</option>
                        <option value="Feedback" selected>Feedback</option>
                        <option value="Report a bug">Report a bug</option>
                        <option value="Feature request">Feature request</option>
                    </select>

                    <!-- Message -->
                    <div class="form-group">
                        <textarea formControlName="contactFormMessage" class="form-control rounded-0" mdbInput id="exampleFormControlTextarea2" rows="3"
                            placeholder="Message" required></textarea>
                    </div>

                    <!-- subscribe -->
                    <div class="row">
                        <div class="col-md-6">
                            <mdb-checkbox [default]="true" class="mb-4 text-center">Check here to receive email updates
                            </mdb-checkbox>
                        </div>
                    </div>

                    <!-- submit button -->
                    <div class="text-center">
                        <button mdbBtn color="primary" type="submit" [disabled]="disabledSubmitButton">submit</button>
                    </div>

                </form>
        </div>

        <div class="col mx-auto justify-content-center">
            <!-- map -->
            <agm-map [latitude]="lat" [longitude]="lng" id="map">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
            <div class="w-100"></div>
            <!-- <div class="row justify-content-md-center"> -->
            <div class="card d-flex">
                <div class="card-body" id="info">
                    <h1>Our LOCATION</h1>
                    <p>CACC CHINESE AMERICAN<br>
                        COMMUNITY CENTER</p>
                    <p>PHONE: +1.302.239.0432</p>
                    <p>1313 Little Baltimore Road<br>
                        Hockessin, DE 19707, United States</p>
                </div>
                <!-- </div> -->


            </div>

        </div>

    </div>






</div>